body {
    background: url("../images/background_stars.jpg");
    background-size: cover;
    color: #fcf525;
    overflow: hidden;
}

.container {
    animation: scrollcontainer 30s linear infinite;
    font-family: sans-serif;
    font-size: 55px;
    font-weight: 800;
    height: 1500px;
    margin: 0 auto;
    text-align: justify;
    transform: perspective(300px) rotateX(30deg);
    width: 980px;
}

.heading {
    text-align: center;
}

@keyframes scrollcontainer {
    0% {
        transform: perspective(300px) rotateX(20deg) translateY(680px);
        opacity: 1;
    }
    50% {
        opacity: 1;

    }
    100% {
        transform: perspective(300px) rotateX(20deg) translateY(-4000px);
        opacity: 0;
    }
}


