.container {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}

table {
    border-width: 20px;
    border-style: solid;
    border-color: #3a4965;
    border-collapse: collapse;
    width: 1192px;
}

td {
    text-align: center;
    padding: 30px 0;
    width: 277px;
}

td, th {
    border: 1px solid #d9d9d9;
}

.choose_your_plan {
    background-color: #fafafa;
    color: #484848;
    font-size: 18px;
    padding-top: 17px;
}

.pricing_plan {
    font-size: 30px;
}

.background_green {
    background-color: #89c331;
    color: #ffffff;
    font-size: 24px;
    padding: 25px 70px;
}

.background_red {
    background-color: #f04a56;
    color: #ffffff;
    font-size: 30px;
}

.background_blue {
    background-color: #20807c;
    color: #ffffff;
    font-size: 24px;
}

.price {
    background-color: #fafafa;
    padding: 0;
    height: 86px;
}

.dollar {
    display: inline-block;
    font-size: 60px;
    color: #484848;
    font-weight: bold;
}

.coins_per-month {
    display: inline-block;
    margin: 0;
}

p {
    margin: 0;
}

.coins {
    color: #484848;
    font-size: 26px;
    font-weight: bold;
    padding-right: 80px;
}

.per_month {
    font-size: 18px;
    color: #484848;
}

.background_color_tr_grey {
    background-color: #e3e3e3;
    color: #848484;
}

.background_color_tr {
    background-color: #f2f2f2;
    color: #848484;
}

.contact_us {
    background: linear-gradient(to bottom, #484848 85%, #404040 15%);
    border-color: #484848;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    width: 192px;
    height: 49px;
}

.button1 {
    background: linear-gradient(to bottom, #89c331 85%, #79b027 15%);
    border-color: #89c331;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    width: 192px;
    height: 49px;
}

.button2 {
    background: linear-gradient(to bottom, #f04a56 85%, #df3a46 15%);
    border-color: #f04a56;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    width: 192px;
    height: 49px;
}

.button3 {
    background: linear-gradient(to bottom, #20807c 85%, #16736f 15%);
    border-color: #20807c;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    width: 192px;
    height: 49px;
}

.background_btn1 {
    background-color: #dddddd;
}

.background_btn2 {
    background-color: #eeeeee;
}

.background_btn3 {
    background-color: #f4f4f4;
}

.background_btn4 {
    background-color: #eeeeee;
}

.contact_us:hover {
    background: #dddddd;
    color: #484848;
    font-size: 17px;
    transition: 1s;
}

.button1:hover {
    background: #eeeeee;
    color: #89c331;
    font-size: 17px;
    transition: 1s;
}

.button2:hover {
    background: #f4f4f4;
    color: #f04a56;
    font-size: 17px;
    transition: 1s;
}

.button3:hover {
    background: #eeeeee;
    color: #20807c;
    font-size: 17px;
    transition: 1s;
}