.container {
    background-image: url("../images/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, sans-serif;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.content {
    width: 1064px;
    margin: 0 auto;
}

header {
    padding: 44px 0;
}

.logo  {
    float: left;
}

.logo_img{
    float: left;
}

.first_logo {
    height: 49px;
}

.logo2 {
    float: left;
    margin-left: 15px
}

.milan {
    color: #ffffff;
    font-weight: bold;
    font-size: 29px;
    padding-top: 0;
}

.holidays {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.logo2 p {
    margin: 0;
}

.info {
    color: #ffffff;
    float: right;
    font-size: 18px;
    text-align: right;
}

.info p {
    margin: 0;
}

.main-wrapper-item {
    position: relative;
    float: left;
    margin-right: 68px;
    margin-bottom: 55px;
}

.main-wrapper-item:hover .container-or{
    display: block;
    cursor: pointer;
}

.main-wrapper-item:hover .text-item {
    color: #FF9933;
}

.container-or{
    position: absolute;
    top: 139px;
    width: 309px;
    height: 64px;
    display: none;
    background-color: #FF9933;
}

.about {
    position: relative;
    height: inherit;
}

.details {
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    left: 185px;
    bottom: 17px;
}

.details::after {
    content: "\003E";
    margin: 0 15px;
}

.from {
    position: absolute;
    top: 16px;
    left: 21px;
    font-size: 10px;
    color: #ffffff;
}

.price {
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 31px;
    left: 21px;
}

.main-wrapper-item:nth-child(3n) {
    margin-right: 0;
}

.img-item {
    border: 1px solid #ffffff;
}

.text-item {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    padding: 15px;
}

footer {
    padding-bottom: 15px;
}

.copyright {
    color: #ffffff;
    display: block;
    font-size: 12px;
    text-align: center;
}

.link {
    display: inline-block;
    text-decoration: none;
}


