* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    background-image: url("../images/background.jpeg");
    background-size: cover;
    min-height: 912px;
}

header {
    position: relative;
    height: 56px;
    background-color: rgba(0, 0, 0, 0.5);
}

.journey {
    position: absolute;
    top: 20px;
    left: 100px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.journey a {
    color: #ffffff;
    text-decoration: none;
}

.journey a:hover {
    color: #3cb878;
    transition: 0.5s;
}

.sprites {
    position: absolute;
    right: 300px;
    top: 19px;
}

/*---------------------------------------------------------*/
.sprite {
    background-image: url('../images/spritesheet.png');
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-right: 28px;
}

.sprite-ic_caledar1 {
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}

.sprite-ic_caledar1:hover {
    width: 19px;
    height: 19px;
    background-position: -34px -5px;
}

.sprite-ic_forum2 {
    width: 28px;
    height: 20px;
    background-position: -63px -5px;
}

.sprite-ic_forum2:hover {
    width: 28px;
    height: 20px;
    background-position: -101px -5px;
}

.sprite-ic_journey3 {
    width: 20px;
    height: 20px;
    background-position: -139px -5px;
}

.sprite-ic_journey3:hover {
    width: 20px;
    height: 20px;
    background-position: -169px -5px;
}

/*-------------------------------------------------*/

.before_welcome:before {
    content: '';
    border-right: 2px solid #312f2f;
    margin-right: 24px;
}

.options {
    position: absolute;
    top: 20px;
    right: 80px;
    margin: 0;
}

.options_log {
    display: inline-block;
    color: #ffffff;
}

.options_log a {
    color: #3cb878;
    text-decoration: none;
}

.main_form {
    position: absolute;
    top: 24%;
    left: 36%;
    background-color: #ffffff;
    border-radius: 6px 6px;
    padding: 30px 60px;
    width: 444px;
}

.sign {
    display: inline-block;
    font-size: 20px;
}

.sign:before {
    content: url("../images/shape.png");
    position: absolute;
    left: 0;
    top: 32px;
}

.top_sign_in  {
    margin: 0;
}

.top_sign_in a {
    color: #434343;
    text-decoration: none;
}

.log_in {
    float: right;
    font-size: 14px;
    margin-top: 6px;
}

.top_log_in {
    margin: 0;
}

.top_log_in a {
    color: #3cb878;
    text-decoration: none;
}

.top_log_in a:hover {
    border-bottom: 1px solid #3cb878;
}

.button_wrapper {
    margin-top: 15px;
    margin-bottom: 25px;
}

.button1 {
    background-color: #305db8;
    border-color: #305db8;
    border-radius: 3px 3px;
    color: #ffffff;
    cursor: pointer;
    float: left;
    height: 46px;
    width: 157px;
}

.icon_facebook {
    font-size: 25px;
    font-weight: bold;
}

.icon_facebook:after {
    content: "";
    border-right: 1px solid #2b54a5;
    margin-left: 15px;
}

.text_facebook {
    font-size: 16px;
    margin-left: 20px;
}

.button2 {
    background-color: #df4a32;
    border-color: #df4a32;
    border-radius: 3px 3px;
    color: #ffffff;
    cursor: pointer;
    height: 46px;
    width: 157px;
    margin-left: 8px;
}

.icon_google {
    font-size: 19px;
    font-weight: bold;
}

.icon_google:after {
    content: "";
    border-right: 1px solid #c8422d;
    margin-left: 10px;
}

.text_google {
    font-size: 16px;
    margin-left: 25px;
}

.container-hr {
    margin-bottom: 18px;
}

.container-hr > div {
    float: left;
}

.container-hr hr {
    border-style: solid;
    border-color: #eaeaea;
    width: 144px;
}

.or {
    margin: 0 10px;
}

.form-group {
    padding: 3px;
    margin-bottom: 2px;
}

.i-forms {
    height: 46px;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
    border: 1px #eaeaea solid;
    transition: 0.5s;
}

input:focus {
    outline: none;
}

.i-forms:focus::placeholder {
    font-weight: 400;
}

.i-forms:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    font-weight: 600;
}

.green_agree a {
    color: #3cb878;
    text-decoration: none;
}

.create {
    background-color: #3cb878;
    border-color: #3cb878;
    border-radius: 4px 4px;
    cursor: pointer;
    font-size: 16px;
    height: 46px;
    width: 322px;
    margin-top: 40px;
    color: #ffffff;
}



