.one {
    background: #4bcaff;
    width: 40%;
}

.one p::before {
    background-color: red;
    content: "icon";
    padding: 20px;
}

.two {
    background: blue;
    width: 40%;

}

.two p {
    padding: 10px 60px;
}

.three {
    background: lawngreen;
    width: 40%;
}

.three p {
    padding: 10px 60px;
}

.four {
    background: yellow;
    width: 40%;
}

.four p {
    padding: 10px 60px;
}

.five {
    background: crimson;
    width: 40%;
}

.five p {
    padding: 10px 60px;
}