body, html {
    width: 100%;
}

body {
    background-color: black;
}

.battery {
    border: 1px solid #fff;
    border-radius: 2px;
    height: 12px;
    padding:1px;
    position: relative;
    width: 36px;
}

.battery:after {
    content: '';
    display: block;
    position: absolute;
    top:50%;
    right: -5.1px;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    clip: rect(0, 6px, 6px, 3.9px);
}

.battery .indicator {
    background: #fff;
    border-radius: 1px;
    width: 50%;
    height: 100%;
}
