img {
    width: 150px;
    height: 150px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.img-wrapper {
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    padding: 5px;
    margin-right: 10px;
}