body {
    margin: 0;
    font-family: sans-serif;
}

img {
    vertical-align: middle;
}

.first_header {
    background: url("../images/header-bg.jpeg") no-repeat bottom fixed ;
}

.header_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px 0;
}

.header_top_navigation {
    background: #1d2124;
    display: flex;
    justify-content: space-between;
}

.header_left_logo {
    flex-grow: 2;
    display: flex;
    align-items: center;
}

.header_menu {
    flex-grow: 3;
    display: flex;
    align-items: center;
}

.header_search {
    display: flex;
    justify-content: center;
    align-content: center;
    background: #171a1c;
}

.ul_list {
    display: flex;
    list-style: none;
}

.header_list_item a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding: 0 15px;
}

.header_logo {
    background: #171a1c;
    padding: 26px 22px;
}

.text_logo a {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
}

.search_logo {
    padding: 27px 25px;
    color: #fff;
}

.latest_news_heading {
    color: #fff;
    font-size: 27px;
}

.btn {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    width: 170px;
    color: #fff;
    margin: 0 10px;
    border-radius: 6px;
}

.subscribe {
    background: #89ca62;
    border-color: #89ca62;
}

.articles {
    background: #14b9d5;
    border-color: #14b9d5;
}

.section_content {
    max-width: 1170px;
    margin: 0 auto;
}

.most_popular_image_wrapper {
    margin-bottom: 25px;
}

.section1 {
    background: #f2f2f2;
}

.most_popular_img-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 850px;
    align-items: center;
}

.text-item {
    text-align: center;
    background: #fff;
    padding: 22px;
    color: #353a3d;
    font-size: 18px;
    font-weight: bold;
}

.link {
    display: inline-block;
    text-decoration: none;
}

.sections_heading {
    color: #18b4cf;
    font-size: 27px;
    padding: 35px 0;
    margin: 0;
    text-align: center;
}

.second_header {
    background: url("../images/parallax-bg.jpeg") no-repeat center fixed;
    display: grid;
    justify-content: center;
}

.second_header_grid_container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 200px 0;
}

.second_header_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/5;
}

.most_popular_clients {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.line {
    grid-column: 1/5;
    justify-content: center;
    display: flex;
    align-items: center;
}

.blue_line {
    border-bottom: 3px solid #169cb4;
    width: 60px;
}

.logo_popular_client {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.top_rated_grid_container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
}

.top_rated_image {
    width: 100%;
}

.section2_content {
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 70px;
}

.hot_news_grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 2px;
}

.first-item {
    grid-area: 1/1/2/4;
    display: flex;
}

.image1_text-item {
    background: #f9f7f7;
    padding: 40px 25px;
}

.hot_news_heading-item1 {
    font-size: 18px;
    color: #353a3d;
    text-align: right;
    margin: 0;
    padding-bottom: 20px;
}

.image_paragraph {
    margin: 0;
    color: #5b6469;
    text-align: justify;
    font-size: 14px;
}

.image2_text-item {
    background: #f9f7f7;
}

.hot_news_heading-item2 {
    margin: 0;
    padding: 15px;
    color: #353a3d;
    text-align: center;
}

.third-item {
    grid-area: 2/1/3/3;
}

.image_text-item {
    background: #f9f7f7;
    padding: 20px 25px;
}

.hot_news_heading-item {
    margin: 0;
    padding-bottom: 15px;
    color: #353a3d;
    text-align: right;
}

.four-item {
    grid-area: 2/3/3/5;
}

.five-item {
    grid-area: 3/1/4/3;
}

.six-item {
    grid-area: 3/3/4/5;
}

.eight-item {
    grid-area: 4/2/5/5;
    display: flex;
}

.grid-item {
    margin: 15px;
}

footer {
    background: #1d2124;
}

.footer_content {
    width: 1170px;
    margin: 0 auto;
}

.footer_grid_container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.footer_grid_copyright {
    display: flex;
    align-items: center;
    padding: 34px 0;
}

.footer_text {
    color: #fff;
    font-size: 13px;
}

.footer_grid_logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 34px 0;
}

.footer_logo_text {
    color: #fff;
    font-size: 23px;
    font-weight: bold;
}



