.container {
    font-family: sans-serif;
    font-size: 15px;
    width: 1280px;
    margin: 0 auto;
}

header {
    margin-bottom: 40px;
}

.logo {
    font-size: 80px;
    color: #4bcaff;
    text-decoration: none;
}

span {
    color: #000000;
}

.nav {
    background-color: #35444f;
    line-height: 69px;
    padding: 0;
    text-align: center;
}

.menu-item {
    display: inline-block;
    padding: 9px 35px;
    font-size: 24px;
}

.menu-item:hover {
    background-color: #222f3a;
}

.nav a {
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
}

main {
    margin-bottom: 30px;
    width: 100%;
}

.aside, .article {
    display: inline-block;
    box-sizing: border-box;
}

.aside {
    border: 1px solid darkblue;
    vertical-align: top;
    width: 27%;
}

.nav2 {
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav2 li {
    list-style: none;
    padding: 20px 65px 20px 40px;
}

.nav2 li a {
    color: #485863;
    font-size: 29px;
    text-decoration: none;
}

.nav2 li a:hover {
    color: #000000;
    padding: 9px 14px;
    text-decoration: none;
}

.nav2 li:hover {
    background-color: #dbdbdb;
}

.article {
    margin-left: 45px;
    width: 69%;
}

.section1 {
    border: 1px solid darkblue;
    margin-bottom: 35px;
    padding: 75px 268px 73px 297px;
}

img {
    transition: 1s;
}

img:hover {
    transform: scale(1.1);
}

.section2 {
    color: #2c2c2c;
    font-size: 18px;
    margin: 0 auto;
    width: 93%;
}

.section2 p {
    text-align: justify;
}

footer {
    background-color: #b4b7ba;
    line-height: 69px;
}

.menu2 {
    display: inline-block;
    margin: 0;
}

.menu-item3 {
    display: inline-block;
    padding: 9px 10px;
}

.menu2 a{
    color: #0c1927;
    font-size: 28px;
    text-decoration: none;
}

.menu2 a:hover {
    color: #3181a6;
    text-decoration: underline;
}

.copyright {
    font-weight: 400;
    margin-left: 160px;
    font-size: 24px;
    text-align: right;
}

a:hover {
    cursor: pointer;
}


