body {
    margin: auto;
}

nav {
    height: 80px;
    background: #ffffff;
    text-align: center;
}

a {
    font-family: sans-serif;
    margin: 30px;
    text-decoration: none;
    line-height: 80px;
    color: #16a085 ;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}

img {
    display: block;
    width: 100%;
}

h3 {
    font-family: sans-serif;
    letter-spacing: 2px;
    margin-top: 0;
    font-size: 22px;
    color:#373737 ;
    text-align: center;
}

p {
    margin-left: 70px;
    margin-right: 70px;
    font-size: 16px;
    font-family: sans-serif;
    color: #373737;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

main {
    margin-bottom: 0;
    background: #f5f6f7;
    height: 600px;
    line-height: 1.5;
}

button {
    margin: 0 auto;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    width: 192px;
    height: 51px;
    background: #16a085;
    color: #ffffff;
    line-height: 51px;
    letter-spacing: 1px;
    border: #16a085;
}

.footer {
    margin-top: -16px;
    height: 100px;
    background: #ffffff;
}

.footer p {
    line-height: 100px;
    text-align : right;
    font-size: 16px;
    color: #373737;
    font-weight: bold;

}
