.input_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.span_price {
    border: 1px solid grey;
    padding: 2px 10px;
    margin-left: 10px;
    border-radius: 20px;
    color: grey;
    font-size: 14px;
}

.del_btn {
    border: 1px solid grey;
    border-radius: 50%;
    margin-left: 5px;
    background-color: transparent;
    color: grey;
    font-size: 14px;
}

.error_text {
    margin: 0;
    color: red;
    padding-left: 50px;
}

.input_background {
    background-color: #00cbf6;
    display: flex;
    width: 250px;
    height: 40px;
    align-items: center;
}


